@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: Linear-gradient(130deg, #E3786E, #FDECF0);
}
.container{
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
}
.container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
    text-align: center;
}
.container .title::before{
    content: '';
    position: absolute;
    left: 240px;
    bottom: 0;
    height: 3px;
    width: 160px;
    height: 3px;
    background: Linear-gradient(130deg, #E3786E, #AF1F17);
}
.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}
.user-details .input-box .details{
    display: block;
    font-weight: 500px;
    margin-bottom: 5px;
}
.user-details .input-box input,
.user-details .input-box select{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
.dob{
    width: 32.3% !important;
    
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color: #AF1F17;
}
form .gender-details .gender-title{
    font-size: 20px;
    font-weight: 500px;
}
form .gender-details .category{
    display: flex;
    width: 80%;
    margin: 14px 0;
    justify-content: flex-start;
}
.gender-details .category label{
    display: flex;
    align-items: center;
    margin-right: 207px;
    
}
.gender-details .category label input[type='radio']{
    height: 15px;
    width: 15px;
    background-color: #d9d9d9;
    border-radius: 50%;
    margin-right: 10px;
}
form .button input{
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: Linear-gradient(130deg, #E3786E, #AF1F17);
}

form .button input:hover{
    background: Linear-gradient(-130deg, #E3786E, #AF1F17);
}
@media (max-width: 584px){
    .container{
        max-width: 100%;
    }

form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
}

form .gender-details .category{
    width: 100%;
}
.container form .user-details{
    max-height: 400px;
    overflow-y: scroll;
}
    .dob{
        width: 32.6% !important;
    }
    .container .title::before{
    left: 130px;
}
}





